@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sidebar {
  display: flex;
  flex-direction: column;

  width: max-content;
  height: 100vh;
  align-items: center;
  justify-content: space-between;
}

.main-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  overflow: hidden;
}
.info {
  display: flex;
  flex-direction: column;
  width: max-content;
  height: 100%;
}
.online-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.5rem 0;
}
.chat-info {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 0;
}
.search {
  display: flex;
  justify-items: center;
  align-items: center;
  height: max-content;

  background-color: transparent;
  margin-bottom: 1rem;
}

input:focus {
  outline-color: lightgray;
  border-radius: 0.5rem;
}
.searched-chat-users {
  height: 50%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chat {
  display: flex;
  flex-direction: column;

  align-items: flex-start;
  min-width: 50%;
  max-width: min-content;
  padding: 1rem 3rem;
  padding-bottom: 0.5rem;
}
.chat-nav {
  display: flex;
  width: 100%;
  border: none;
  align-items: center;
  background-color: transparent;
}

.chat-field {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: flex-start;

  width: 100%;
  border-radius: 0.4rem;
  overflow-y: auto;
  overflow-x: hidden;
}

.message-input {
  display: flex;
  align-items: center;
  justify-items: center;
  width: 100%;
}
.input_message {
  display: flex;
  flex: 1;
  border-bottom: 1px solid lightgray;
  margin: 0 0.5rem;
  width: 100%;
}

.input_message input:focus {
  outline: none;
}
.friend {
  display: flex;
  flex-direction: column;

  width: 60%;
  background-color: white;
  padding: 1.5rem 1rem;
  justify-content: space-between;
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #00cc66 transparent #00cc66 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.input_message label {
  cursor: pointer;
}

.attachment_input {
  display: none;
}
